<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head></head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>ML Clustering is coming....</h1>
        <p>(this is the first ejs page)</p>
    </div>
</main>

</body>
</html>